*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    position: relative;
    min-height: 100vh;
}

main {
    padding-bottom: 100px;

}

.img {
    width: 70%;
}


.nav-toggle {
    float: right;
    margin: 10px 20px 10px 10px;
    cursor: pointer;
}

.nav-toggle img {
    margin-top: 10px;
    width: 40px;
    display: inline-block;
}

nav {
    display: block;

    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    background-color: #202027;
}

#indexpage {
    background-color: rgba(0, 0, 0, 0);
}

.navlist {
    clear: both;
    display: none;
    margin-bottom: 20px;
}

.is-active {
    display: block;
}

.navlist a {

    font-size: 25px;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    color: white;
    display: block;
    padding: 10px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    padding-left: 30px;
}

.navlist a:hover {
    color: white;
}

.navlist a:before {
    content: "";
    position: absolute;
    width: 50%;
    height: 1px;
    bottom: 10px;
    background-color: #d6620c;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.6s ease-in-out 0s;
}

.navlist a:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

#logo {
    float: left;
    margin-right: 1em;
    margin-top: 11px;
    margin-left: 1em;

}

#logo img {
    width: 100px;
}

}


#shortVideo {
    position: absolute;
    top: 0;

}


#slogan {

    padding: 20px;
    text-align: center;
    font-size: 18px;
}

.orange {
    color: #D6620C;
}

.img1 {
    width: 100%;
}

#indexdesc {
    padding: 15px;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

h1 {
    padding: 10px;
    margin-top: 90px;
    text-transform: uppercase;
    text-align: center;
}


#img_contact {
    position: relative;
    height: 50%;
    width: 50%;
    left: 50%;
    transform: translate(-50%);

}

#name_contact {
    text-align: center;


}

#desc_contact {
    text-align: center;
    color: #303030;
    margin-top: -3px;


}

#p_contact {
    text-align: center;
    margin-top: -5px;
    padding: 20px;

}

.icon_contact {
    position: absolute;
    width: 30px;
    height: 30px;
    color: #d6620c;
    display: inline-block;
    left: 60%;
}

.icon_call {
    left: 35%;
}



@media all and (min-width: 798px) {
    #shortVideo {
        object-fit: cover;
        width: 100vw;
        height: 100%;
    }

}


@media (max-aspect-ratio: 16/9) {
    #shortVideo {
        object-fit: cover;
        width: 100vw;
        height: 100%;
    }
}


* {
    box-sizing: border-box;
}


.timeline_header {
    color: #d6620c;
    font-size: 15px;
}

.timeline_text {
    color: white;
    font-size: 13px;
}

.sub_header {
    text-align: center;
    padding: 20px;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #202027;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -17px;
    background-color: #d6620c;
    border: 4px solid #d6620c;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}


.left {
    left: 0;
}

.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #202027;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #202027;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #202027;
    border-width: 10px 10px 10px 0;
    border-color: transparent #202027 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -8px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: #303030;
    position: relative;
    border-radius: 6px;
}


@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 45px;
    }

    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid #202027;
        border-width: 10px 10px 10px 0;
        border-color: transparent #202027 transparent transparent;
    }

    .left::after,
    .right::after {
        left: 37px;
    }

    .right {
        left: 0%;
    }
}

.footer {
    position: absolute;
    bottom: -130px;
    width: 100%;
    background-color: #202027;
    color: white;
    text-align: center;
    padding: 20px;
}

.footer_logo {
    width: 150px;
}

#copyright {
    font-size: 12px;
}

.nav-footer {
    padding: 20px;
}

.nav-footer a {
    text-decoration: none;
    color: white;
    padding: 20px;
    transition: all 0.4s;
}

.nav-footer a:hover {
    color: #d6620c;
}



.video_container {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.name_template {
    font-size: 20px;
    text-align: left;
}

.img_template {
    width: 100%;
    height: auto;
    cursor: pointer;

}

.artwork {
    border: 1px solid black;
    padding: 5px;
}


.modalimg {
    width: 100%;
}


#openModal {
    display: none;
}

h2{
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.modal {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
    top: 10vh;
    left: 0vw;
    overflow: hidden;
}

.modal .inner {
    background: white;
    margin: 2em;
    max-height: 100%;
    overflow: scroll;


}

.close {
    margin-top: 20px;
    margin-right: 10px;
    float: right;
    cursor: pointer;
    color: dimgrey;
    background: transparent;
    font-size: 31px;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    border: none;
    transform-style: preserve-3d;
    transition: all .3s ease-in-out;

}


.close:hover {
    color: #d6620c;}

    /*.modal .inner .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.modal .inner h1 {
    grid-column: 1/-1;
}*/
    .img_template {
        transition: all 0.2s;
    }

    .img_template:hover {
        opacity: 0.3;
    }

    .visible {
        display: block;
    }

    #nav_category {
        margin-top: 100px;
    }

    li {
        font-size: 15px;
        display: inline-block;
        padding: 12px;
        cursor: pointer;


    }

    ul :hover {
        color: #d6620c;
    }

    /* Slideshow container */
    .slideshow-container {
        position: relative;
        background: #f1f1f1f1;
    }

    /* Slides */
    .mySlides {
        display: none;
        padding: 80px;
        text-align: center;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -30px;
        padding: 16px;
        color: #888;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
        position: absolute;
        right: 0;
        border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
    }

    /* The dot/bullet/indicator container */
    .dot-container {
        text-align: center;
        padding: 20px;
        background: #ddd;
    }

    /* The dots/bullets/indicators */
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    /* Add a background color to the active dot/circle */
    .active,
    .dot:hover {
        background-color: #717171;
    }

    /* Add an italic font style to all quotes */
    q {
        font-style: italic;
    }

    /* Add a blue color to the author */
    .author {
        color: orange;
    }
